.banner_main img {
    width: 100%;
    height: 100%;
    transition: all ease-in-out .4s;
    overflow: hidden;
}

.left_banner {
    border-radius: 7px 0px 0px 0px;
    overflow: hidden;
}

.right_up {
    border-radius: 0px 0px 7px 0px;
    overflow: hidden;
}

.right_down {
    border-radius: 0px 7px 0px 0px;
    overflow: hidden;
}

.left_banner span,
.right_down span {
    font-size: .9rem;
    font-family: "Poppins";
}

.left_banner h2,
.right_down h2 {
    font-family: "Poppins";
}

.left_banner a,
.right_down a {
    color: #ffffff;
    font-size: .9rem;
    font-family: "Poppins";
    transition: all ease-in-out .4s;
}

.left_banner a:hover,
.right_down a:hover {
    color: black;
    background-color: #ffffff;
}

.right_up h2 {
    font-family: "Poppins";
}

.right_up a {
    color: black;
    background-color: transparent;
    font-size: .9rem;
    font-family: "Poppins";
    transition: all ease-in-out .4s;
}

.right_up a:hover {
    color: #ffffff;
    background-color: black;
}

.right_up .tag {
    background-color: #A3381C;
    top: 9vw;
    right: 9vw;
    width: 4rem;
    height: 4rem;
}

.left_banner img:hover,
.right_up img:hover,
.right_down img:hover {
    transform: scale(1.2);
}