.banner_main img {
    width: 100%;
    height: 100%;
}

.left_banner {
    border-radius: 7px 0px 0px 0px;
    overflow: hidden;
}

.right_up {
    border-radius: 0px 0px 7px 0px;
    overflow: hidden;
}

.right_down {
    border-radius: 0px 7px 0px 0px;
    overflow: hidden;
}

.left_banner span,
.right_down span {
    font-size: .9rem;
    font-family: "Poppins";
}

.left_banner h2,
.right_down h2 {
    font-size: 2.2rem;
    font-family: "Poppins";
}

.left_banner a,
.right_down a {
    color: #ffffff;
    font-size: .9rem;
    font-family: "Poppins";
    transition: all ease-in-out .4s;
}

.left_banner a:hover,
.right_down a:hover {
    color: black;
    background-color: #ffffff;
}

.right_up h2 {
    font-size: 2.2rem;
    font-family: "Poppins";
}

.right_up a {
    color: black;
    background-color: transparent;
    font-size: .9rem;
    font-family: "Poppins";
    transition: all ease-in-out .4s;
}

.right_up a:hover {
    color: #ffffff;
    background-color: black;
}

.right_up .tag {
    width: 4.5rem;
    height: 4.5rem;
    background-color: #A3381C;
    top: 7rem;
    right: 7.8rem;
}

.right_up .tag h3 {
    font-size: 1.5rem;
}