.shipping_box {
    font-family: "Poppins";
}

.shipping_box span {
    font-size: .9rem;
    color: rgb(178, 178, 178);
}

.icon_box i {
    font-size: 2.4rem;
    color: rgb(186, 186, 186);
}

.shipping_box:hover .icon_box i {
    color: black;
}